########## Global owners ##########

*                  @jjcnn @jubnzv @ilyasergey


########## Source code ##########

## default OCaml reviewers
*.ml                @jjcnn @jubnzv @ilyasergey
*.mli               @jjcnn @jubnzv @ilyasergey

## default C and C++ reviewers
*.cpp              @jjcnn @jubnzv @ilyasergey
*.c                @jjcnn @jubnzv @ilyasergey
*.h                @jjcnn @jubnzv @ilyasergey


########## Build system, CI, opam ##########

*dune*             @jjcnn @jubnzv @ilyasergey
/.dockerignore     @jjcnn @jubnzv @ilyasergey
/.travis.yml       @jjcnn @jubnzv @ilyasergey
/Dockerfile*       @jjcnn @jubnzv @ilyasergey
/Makefile          @jjcnn @jubnzv @ilyasergey
/scripts/build_openssl.sh @jjcnn @jubnzv @ilyasergey
*.opam             @jjcnn @jubnzv @ilyasergey


########## Test suite ##########

## Scilla contracts in the testsuite
/tests/*.scilla    @jjcnn @jubnzv @ilyasergey


########## Documentation ##########

/README.md        @jjcnn @jubnzv @ilyasergey
/INSTALL.md       @jjcnn @jubnzv @ilyasergey
/docs/            @jjcnn @jubnzv @ilyasergey

########## GitHub metadata, including this file ##########

/.github/         @jjcnn @jubnzv @ilyasergey
